@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Contoso Pizza</h1>
    <p class="lead">Лучшая пица в городе уже @* @Convert.ToInt32(timeInBusiness.TotalDays) *@ 0 дней!</p>
</div>
